*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color: #000;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    line-height:75px;
    position: fixed; 
    background-color: white; 
    height: 75px; 
    width: 100%;
}
.seleciones{
    width:80%;
    text-align: center;
}
button{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
}
#nombre{
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    
}
.botin{
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
}
.link{
    color: black;
    transition: 10s ;
}

.opciones{
    display: none;
    width: 20%;
    text-align: center;
    overflow: hidden;
}

.link:hover {
    display: block;
    text-decoration: underline;
}
.material-symbols-outlined {
    display: inline-block;
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' 0;

}
body{
    height: 2000px;
}

.img4{
    width: 100%;
    height: 400px;
    text-align: center;
}
.imggrande{
    width: 100%;
    margin-top: 20px;
}
.flex-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
.cate{
    height: 150px;
    text-align: center;
    line-height: 150px;
}
.foot{
    overflow: hidden;
    float: left;
    text-align: center;
    width: 33.3%;   
}

@media screen and (max-width:1000px){
    #nombre{
        text-align: center;
    }
    .seleciones{
        display: none;
    }
    header{
        align-items: center; 
        position: fixed; 
        background-color: white; 
        width: 100%;  
    }
    .material-symbols-outlined {

      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    
    }
    .flex-container{
        display: flex;
        flex-direction: column;
    }
    .img4{
        width: 50%;
        height: inherit;
        text-align: center;
    }
    main{
        border-image-slice: 10px;
    }

}
@media screen and (min-width:1000px){
    .material-symbols-outlined{
        display: none;
    }
}