*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
h1{
    color: rgb(5, 5, 61);
    font-size: 50px;
}
header{
    float: left;  
    text-align: center; 
    width: 100%;
    padding: 5px;
}
#nombre{
    float: left;
    margin-right: 5%;
    margin-left: 10%;
}
.botin{
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
}
.link{
    color: rgb(5, 5, 61);
    transition: 10s ;
}

.opciones{
    display: none;
    width: 20%;
    background-color: bisque;
    text-align: center;
    overflow: hidden;
}

.link:hover {
    display: block;
    text-decoration: underline;
}

.material-symbols-outlined {
    float: right;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

}
body{
    height: 2000px;
}

.img4{
    width: 100%;
    height: 400px;
    text-align: center;
}
.imggrande{
    width: 100%;
}
.flex-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
.foot{
    overflow: hidden;
    float: left;
    text-align: center;
    width: 33.3%;   
}

@media screen and (max-width:600px){
    .flex-container{
        display: flex;
        flex-direction: column;
    }
    .img4{
        width: 50%;
        height: inherit;
        text-align: center;
    }
}